.cards {
  padding: 20px;
  cursor: pointer;

  img {
    margin-top: 20px;
    height: 4rem;
    width: auto;
  }

  &__text {
    margin: 20px 20px 0 -20px;
    width: calc(100% + 40px);
    padding: 20px 20px 0;
    border-top: 1px solid #c9c6ca;
  }

  &:hover {
    box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.25);
  }
}
